[*.cs]

# CS8603: Possible null reference return.
dotnet_diagnostic.CS8603.severity = none

# S1006: Method overrides should not change parameter defaults
dotnet_diagnostic.S1006.severity = none

# IDE0008: Use explicit type
dotnet_diagnostic.IDE0008.severity = none

# CS8604: Possible null reference argument.
dotnet_diagnostic.CS8604.severity = none
